@import "tailwindcss";


@theme{
    --color-background:#FAFAF8 ;
    --color-primary:#2C3E50 ;
    --color-muted:#6B6B6B ;
    --color-gr:#4A7C59 ;
    --color-highlight:#676259 ;
    --color-text:#43474C ;
    --color-t2:#1C1C1C ;
    --color-bg2:#E8E0D5 ;
    --color-bg3:#F2EFE9;
    --color-border:#E0DDD7;
    --color-available:#4A7C59;
    --color-unavailable:#4A90E2;
    --color-light:#96A9BE;
    --color-dark: #635E55;
    --color-darker:#162839;
    --color-b:#1B1C1D;
    --color-embg:#FFDAD6;
    --color-emergency:#BA1A1A;
    --color-emtext:#93000A;
    --font-inter:'Inter';

}

@layer base {
    body{
        font-family: var(--font-inter);
    }
}
@utility row {
    @apply flex items-center ;

}
@utility nav-link {
    @apply cursor-pointer hover:text-[var(--color-primary)] hover:scale-115 inline-block transition-all duration-200;
}
@layer components {
    .sec{
        @apply py-8 px-8 2xl:px-0 lg:py-0 flex items-center justify-center;
    }
    .pagination {
    @apply flex items-center justify-center gap-2 mt-10;
  }

  .page-btn {
    @apply px-3 py-1 border rounded-xs border-[var(--color-border)] text-[var(--color-dark)] hover:bg-gray-100 transition duration-200;
  }

  .page-active {
    @apply bg-[var(--color-primary)] text-white px-3 py-1 border rounded-xs ;
  }

  .page-arrow {
    @apply px-3 py-1 border text-[var(--color-dark)] border-[var(--color-border)] hover:bg-gray-100 rounded-xs;
  }
 .review{
        @apply flex flex-col bg-[var(--color-bg3)] border rounded-lg border-[var(--color-border)] p-6 gap-4
  }
.rate{
        @apply row gap-1 border rounded-sm bg-[var(--color-background)] border-[var(--color-border)] py-1 px-2 justify-center
    }
.loc{ 
    @apply text-[0.875rem] text-[var(--color-dark)] leading-5
}
    
}
a,button{
    @apply cursor-pointer transition-all duration-150 active:scale-90;

 }

header {
  border-bottom: 1px solid #E0DDD7;
}
h1{
    font-size: 1rem;
    line-height: 1.5rem;
}
h2{
    font-size: 1rem;
    line-height: 1.5rem;
}
h3{
    font-size: 1.125rem;
    line-height: 1.575rem;
    font-weight: 600;
    color: #162839;
}
h4{
    font-size: 1.5rem;
    line-height: 1.95rem;
    font-weight: 600; 
    color: #162839;
}
h5{
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.219rem;
    letter-spacing: 1.2px;
}
h6{
    font-size: 2rem;
    line-height: 2.5rem;
    color: #162839;
    font-weight: 600;
}
.style{
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 1.2px;
    color: #6B6B6B;
}
.status{
    font-size: 10px;
    font-weight: bold;
    line-height: 0.938 rem;
    color: #FFFFFF;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    text-align: center;
    padding: 4px 8px;
}
.title{
    position: relative;
    display: inline-block;
}
.title::after{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #2C3E50;
    border-radius: 2px;
    margin: 8px auto 0;
}

.card{
    border: 1.5px solid var(--color-border);
    background-color: var(--color-background);
    border-radius: 8px;
    padding: 24px;

}
.dr-card{
    border: 1px solid var(--color-border);
    background-color: var(--color-bg3);
    border-radius: 8px;
    height: 423px;
    overflow: hidden;
}
.dr-card button{
    background-color: var(--color-bg3);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    margin-top: 16px;
}  
.btn{
    background-color: var(--color-bg3);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
}

.dr-card img{
width: 100%;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 61%;
}
.step-number{
    width: 64px;
    height: 64px;
    background-color: #FAFAF8;
    color: #2C3E50;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Patient-card{
    background-color: var(--color-bg3);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    padding: 24px;

}
.footer-container a{
    color: var(--color-muted);

}
.footer-container button{
    color: #FFFFFF;
    background-color: var(--color-primary);
    font-weight: bold;
    padding: 12PX 68.86PX;
    border-radius: 8PX;
}
.footer-container button:hover {
  background-color: rgba(44, 62, 80, 0.8);
}
.selected{
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 4px;
    color:#2C3E50 !important;
    font-weight: bold !important;

}

.text{
    font-size: 0.813rem;
    line-height: 1.219rem;
    font-weight: 500;
}
.bottom-header h1{
    font-size: 3rem;
    line-height: 3.6rem;
    font-weight: bold;
    color: var(--color-darker);
}
.caption{
    font-size: 0.813rem;
    line-height: 1.219rem;
    color: var(--color-dark);
    font-weight: 500;
}
.option{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    cursor: pointer;
}
.item button{
    color: #FFFFFF;
    background-color: var(--color-primary);
    font-weight: 600;
    font-size: 0.938rem;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8PX;
}
.item-btn{
    color: #FFFFFF;
    background-color: var(--color-primary);
    font-weight: 600;
    font-size: 0.938rem;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8PX;
    display: inline-block;
    text-align: center;
}
.item button:hover {
  background-color: rgba(44, 62, 80, 0.8);
}
.dr-img{
  object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  width: 100%;
  height: 52%;
}
.item{
    border: 1px solid var(--color-border);
    background-color: var(--color-bg3);
    border-radius: 8px;
    height: 478px;
    overflow: hidden;

}

.certificate{
    background-color: var(--color-bg3);
    border: 1px var(--color-border) solid;  
    color: var(--color-primary);
    font-size: 0.875rem;
    border-radius: 4px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.availability-card button:hover{
    transform: scale(0.9);
}
.info button{
    color: #FFFFFF;
    background-color: var(--color-primary);
    font-weight: 600;
    font-size: 0.938rem;
    padding: 16px 48px;
    border-radius: 8PX;
}
.info{
    border-top: 1px solid #E0DDD7;
    border-bottom: 1px solid #E0DDD7;
}

.C-name{
    font-size: 0.938rem;
    line-height: 1.5rem;
    color: var(--color-primary);
}
.clinic{
     border: 1px solid var(--color-border);
    background-color: var(--color-bg3);
    border-radius: 8px;
    overflow: hidden;
    height: 454px;
}
.form input{
    @apply border border-[var(--color-border)] px-2 py-2 rounded-md w-full bg-[var(--color-background)]
}
.form label{
    @apply text-[13px] text-[var(--color-muted)] font-medium
}
.form select{
    @apply border border-[var(--color-border)] px-2 py-2 rounded-md w-full bg-[var(--color-background)]
}
.form textarea{
     @apply border border-[var(--color-border)] px-2 py-2 rounded-md w-full bg-[var(--color-background)]
}
