@import "tailwindcss";


@theme{
    --color-background:#FAFAF8 ;
    --color-primary:#2C3E50 ;
    --color-muted:#6B6B6B ;
    --color-gr:#4A7C59 ;
    --color-highlight:#676259 ;
    --color-text:#43474C ;
    --color-t2:#1C1C1C ;
    --color-bg2:#E8E0D5 ;
    --color-bg3:#F2EFE9;
    --color-border:#E0DDD7;
    --color-available:#4A7C59;
    --color-unavailable:#4A90E2;
    --color-light:#96A9BE;
    --font-inter:'Inter';
    
}
@layer base {
    body{
        font-family: var(--font-inter);
    }
}
@utility row {
    @apply flex items-center;
}
@utility nav-link {
    @apply cursor-pointer hover:text-[var(--color-primary)] hover:scale-115 inline-block transition-all duration-200;
}
header {
  border-bottom: 1px solid #E0DDD7;
}
h1{
    font-size: 1 rem;
    line-height: 1.5 rem;
}
h2{
    font-size: 1 rem;
    line-height: 1.5 rem;
}
h3{
    font-size: 1 rem;
    line-height: 1.5 rem;
}
.status{
    font-size: 10px;
    font-weight: bold;
    line-height: 0.938 rem;
    color: #FFFFFF;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    text-align: center;
    padding: 4px 8px;
}
.title{
    position: relative;
    display: inline-block;
}
.title::after{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #2C3E50;
    border-radius: 2px;
    margin: 8px auto 0;
}

.card{
    border: 1.5px solid var(--color-border);
    background-color: var(--color-background);
    border-radius: 8px;
    padding: 24px;

}
.dr-card{
    border: 1px solid var(--color-border);
    background-color: var(--color-bg3);
    border-radius: 8px;
    height: 423px;
    overflow: hidden;
}
.dr-card button{
    background-color: var(--color-bg3);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    margin-top: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}   
.dr-card img{
width: 100%;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  height: 61%;
}
.step-number{
    width: 64px;
    height: 64px;
    background-color: #FAFAF8;
    color: #2C3E50;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
